<!-- About Section -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Jeremy</h2>
                    <hr class="primary">
                    <div style="margin: 0 auto;">
                        <img style="width:25%"  class="img-circle" src="img/about/portfolioShot.jpg" alt="">
                    </div>
                    <div class="timeline-body">
                        <p>
                        


I’m currently in my second semester as an apprentice at Nashville Software School. Never before have I enjoyed learning as much as I do now. Software development is a place where I thrive, excited about new technologies and ever-searching for ways to write better code. In my first semester, I won the 
award for top developer in my class.

I love working in teams and tackling complex problems. Detailed planning and time-management gets me psyched. I’m excited to find my dream job working in a creative, fast-paced environment with like-minded, fun-but-focussed individuals.</p>
<br>
                    </div>
                    <hr class="primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cambodia.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Studying Abroad in Singapore</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>While studying business marketing, I decided to get out of my comfort zone and live abroad in Asia 8 months. It was the best 'risk' I've ever taken.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/drone1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2015</h4> -->
                                    <h4 class="subheading">Up There Productions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>After working in sales and management for over 5 years, I decided to start a production company using drones to do aerial photography and videography. Along the way, I realized I needed to have a website. So I began to teach myself, and quickly became consumed with it. </p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/638751551457103872/KN-NzuRl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>Jan 2015</h4> -->
                                    <h4 class="subheading">Nashville Software School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>