<!-- About Section -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/638751551457103872/KN-NzuRl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2012</h4>
                                    <h4 class="subheading">Backpacking Through Europe</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After I graduated college, asvsdvvsa</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/638751551457103872/KN-NzuRl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2014</h4>
                                    <h4 class="subheading">Studying Abroad in Singapore</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">text goes here</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/638751551457103872/KN-NzuRl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">Up There Productions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started a production company using drones to do aerial photography and videography.</p>
                                </div>
                            </div>
                        </li>
                         <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="https://pbs.twimg.com/profile_images/638751551457103872/KN-NzuRl.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2015</h4>
                                    <h4 class="subheading">Nashville Software School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">6 month bootcamp.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
