<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
            </div>
        <div class="col-xs-2 col-xs-offset-2 text-center">
            <a href="https://linkedIn.com/in/jeremy-landi-71340326" target="_blank">
                <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-xs-2 col-xs-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-xs-2 col-xs-offset-1 text-center">
            <a href="https://github.com/Jeremylandi" target="_blank">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
