 <header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>JEREMY LANDI</h1>
      <br>
      <a href="#about" class="btn btn-primary btn-md page-scroll wow pulse" data-wow-iteration="infinite">SOFTWARE DEVELOPER</a>
      <hr>
      
      <div class="container links">
        <div class="row">    
          <div class="col-xs-2 col-xs-offset-3 ">
            <a href="https://linkedIn.com/in/jeremy-landi-71340326" target="_blank">
              <i class="fa fa-linkedin-square fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
          </div>
          <div class="col-xs-2 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
          </div>
          <div class="col-xs-2 text-center ">
            <a href="https://github.com/Jeremylandi" target="_blank">
            <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
          </div>
        </div>    
      </div>
    </div>
  </div>    
</header>
