<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading">PORTFOLIO</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-sm-6">
        <a href="#newaveModal" class="portfolio-box" data-toggle="modal">
          <img src="img/portfolio/newave/Newave.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  Newave
              </div>
              <div class="project-name">
                  Front-end Capstone
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#bmhModal" class="portfolio-box" data-toggle="modal">
          <img src="img/portfolio/newave/Newave.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  BMH
              </div>
              <div class="project-name">
                  Back-End Capstone
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#movieHistoryModel" class="portfolio-box" data-toggle="modal">
          <img src="img/portfolio/newave/Newave.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  Movie History
              </div>
              <div class="project-name">
                  Angular Group Project
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="#artGalleryModal" class="portfolio-box" data-toggle="modal">
          <img src="img/portfolio/newave/Newave.png" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  Art Gallery
              </div>
              <div class="project-name">
                  C# / MVC Group Project
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Newave Modal -->
  <div class="portfolio-modal modal fade" id="newaveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="fa fa-times-circle fa-3x" aria-hidden="true"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-center">NEWAVE</h2>
              <hr>
              <div class="row">  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/Newave.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave3.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave1.png" class="img-responsive img-centered" alt="">
                </div>              
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered " src="img/portfolio/newave/newave2.png" class="img-responsive img-centered" alt="">
                </div>  
                <br>
              </div>
              <br>
              <p>I got the idea for this project from my experience as a manger and seeing the inefficiencies in the hiring process. I decided to make a job posting site with the goal of expediting the hiring process by bridging the gap between a resume submission and a telephone interview for hiring managers and recruiters. By leveraging the ability to record audio in real time and filter data, we are able to give hiring managers and recruiters a more effective and efficient way of hiring potential employees.</p>
              <p> I used AngularJS, AngularFire, Firebase, base64, and Bootstrap for this project. View the project <a href="https://first-hand-accounts.firebaseapp.com/#/">here.</a></p>
              <p> View the github code <a href="https://github.com/JeremyLandi/newave-front-end-capstone">here</a></p>

              <ul class="list-inline item-details">
                  <li>Date:
                      <strong>April 2016</a>
                      </strong>
                  </li>
                  <li>Service:
                      <strong>Web Development</a>
                      </strong>
                  </li>
              </ul>
              <div class="text-center">                
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  

    <!-- BMH Modal -->
  <div class="portfolio-modal modal fade" id="bmhModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="fa fa-times-circle fa-3x" aria-hidden="true"></div>
      </div> 
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-center">BMH</h2>
              <hr>
              <div class="row">  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/Newave.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave3.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave1.png" class="img-responsive img-centered" alt="">
                </div>              
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered " src="img/portfolio/newave/newave2.png" class="img-responsive img-centered" alt="">
                </div>  
                <br>
              </div>
              <p>I got the idea for this project from my experience as a manger and seeing the inefficiencies in the hiring process. I decided to make a job posting site with the goal of expediting the hiring process by bridging the gap between a resume submission and a telephone interview for hiring managers and recruiters. By leveraging the ability to record audio in real time and filter data, we are able to give hiring managers and recruiters a more effective and efficient way of hiring potential employees.</p>
              <p> I used AngularJS, AngularFire, Firebase, base64, and Bootstrap for this project. View the project <a href="https://first-hand-accounts.firebaseapp.com/#/">here.</a></p>
              <p> View the github code <a href="https://github.com/JeremyLandi/newave-front-end-capstone">here</a></p>

              <ul class="list-inline item-details">
                  <li>Date:
                      <strong>June 2016</a>
                      </strong>
                  </li>
                  <li>Service:
                      <strong>Web Development</a>
                      </strong>
                  </li>
              </ul>
              <div class="text-center">                
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

    <!-- Movie History Modal -->
  <div class="portfolio-modal modal fade" id="movieHistoryModel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="fa fa-times-circle fa-3x" aria-hidden="true"></div>
      </div> 
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-center">Movie History</h2>
              <hr>
              <div class="row">  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/Newave.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave3.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave1.png" class="img-responsive img-centered" alt="">
                </div>              
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered " src="img/portfolio/newave/newave2.png" class="img-responsive img-centered" alt="">
                </div>  
                <br>
              </div>
              <p>I got the idea for this project from my experience as a manger and seeing the inefficiencies in the hiring process. I decided to make a job posting site with the goal of expediting the hiring process by bridging the gap between a resume submission and a telephone interview for hiring managers and recruiters. By leveraging the ability to record audio in real time and filter data, we are able to give hiring managers and recruiters a more effective and efficient way of hiring potential employees.</p>
              <p> I used AngularJS, AngularFire, Firebase, base64, and Bootstrap for this project. View the project <a href="https://first-hand-accounts.firebaseapp.com/#/">here.</a></p>
              <p> View the github code <a href="https://github.com/JeremyLandi/newave-front-end-capstone">here</a></p>

              <ul class="list-inline item-details">
                  <li>Date:
                      <strong>March 2016</a>
                      </strong>
                  </li>
                  <li>Service:
                      <strong>Web Development</a>
                      </strong>
                  </li>
              </ul>
              <div class="text-center">                
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Art Gallery Modal -->
  <div class="portfolio-modal modal fade" id="artGalleryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="fa fa-times-circle fa-3x" aria-hidden="true"></div>
      </div> 
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <!-- Project Details -->
              <h2 class="text-center">Art Gallery</h2>
              <hr>
              <div class="row">  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/Newave.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave3.png" class="img-responsive img-centered" alt="">
                </div>  
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered" src="img/portfolio/newave/newave1.png" class="img-responsive img-centered" alt="">
                </div>              
                <div class="col-sm-6 portfolio">                  
                  <img class="img-responsive img-centered " src="img/portfolio/newave/newave2.png" class="img-responsive img-centered" alt="">
                </div>  
                <br>
              </div>
              <p>I got the idea for this project from my experience as a manger and seeing the inefficiencies in the hiring process. I decided to make a job posting site with the goal of expediting the hiring process by bridging the gap between a resume submission and a telephone interview for hiring managers and recruiters. By leveraging the ability to record audio in real time and filter data, we are able to give hiring managers and recruiters a more effective and efficient way of hiring potential employees.</p>
              <p> I used AngularJS, AngularFire, Firebase, base64, and Bootstrap for this project. View the project <a href="https://first-hand-accounts.firebaseapp.com/#/">here.</a></p>
              <p> View the github code <a href="https://github.com/JeremyLandi/newave-front-end-capstone">here</a></p>

              <ul class="list-inline item-details">
                  <li>Date:
                      <strong>May 2016</a>
                      </strong>
                  </li>
                  <li>Service:
                      <strong>Web Development</a>
                      </strong>
                  </li>
              </ul>
              <div class="text-center">                
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
